<html>
<style type="text/css">
h1
{
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.3em;
  word-spacing: 1em;
  margin: 1.5em 1em;
}
</style>

<h1> find a job & start a currer </h1>



<table class="table table-boldered">
  <% @jobs.each do |job| %>
  <tr>
    <td> <%= link_to(job.title, job_path(job) )%></td>
    <td> <%= link_to(job.description, job_path(job))%></td>



    <td> <%= job.created_at %> </td>
  </tr>
  <% end %>
</table>

</html>
